* {
  margin: 0;
  padding: 0;
  font-family: 'Mukta', sans-serif;
}

a{
  color: inherit;
  text-decoration: inherit;
}


/*
  COLORS:

  black: #393E46;
  white: #EEEEEE;
  blue: #00ADB5
  light blue: #AAD8D3

*/