.landing-content-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-text-container{
    margin-right: 2em;
    width: 40vw
}

.landing-text-container h1{
    color: #ffffff;
    font-size: 4em;
    font-weight: bold;
    line-height: 1;
    padding-bottom: 0.6em;
    transition: all 100ms ease-in;
}
.landing-text-container p{
    color: #ffffff;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.3;
}

.landing-btn-take-turn button{
    color: #ffffff;
    font-size: 1.3em;
    font-weight: bold;
    padding: 0.5em 1.5em;
    background-color: #ed331e;
    border-radius: 9999px;
    transition: background-color 2s ease;
    cursor: pointer;
}

.landing-btn-take-turn{
    margin-bottom: 1em;
}

.landing-btns-contact{
    display: flex;
    justify-content: space-evenly;
}

.landing-btns-contact a img{
    width: 3em;
    transition: width 300ms ease-in-out;
}

.landing-btn-take-turn button:hover{
    background-color: #eb3521;
}

.landing-btns-contact a img:hover{
    width: 3.2em;
}

.landing-text-container h1:hover{
    transform: translateY(-3px);
}

@media (max-width: 1000px) {
    .landing-content-container{
        display: block;
    }
    .landing-text-container{
        margin-right: 0;
        text-align: center;
        width: 80vw;
        margin-bottom: 6em;
    }
    .landing-text-container h1{
        font-size: 9em;
    }
    .landing-text-container p{
        font-size: 4em;
        line-height: 1.3;
    }
    .landing-btn-take-turn button{
        font-size: 3em;
        padding: 0.5em 1.5em;
        display: inline;
    }
    .landing-btn-take-turn{
        text-align: center;
    }
    .landing-btn-take-turn{
        margin-bottom: 8em;
    }
    .landing-btns-contact{
        justify-content: center;
    }
    .landing-btns-contact a img{
        width: 10em;
    }
    .landing-btns-contact a:first-child img{
        margin-right: 5em;
    }
}