.header-container{
    padding: 0.2em 0;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    display: flex;
    align-items: center;
    justify-content: space-around
}

.header-container h1{
    font-size: 2em;
    font-weight: bold;
    color: #5463FF;
}

.header-container div img{
    width: 2em;
    margin: 0 0.3em;
}

@media (max-width: 1000px) {
    .header-container h1{
        font-size: 3em;
    }
    .header-container{
        padding: 0.8em 4em;
    }
    .header-container div img{
        width: 4em;
        margin: 0 1.3em;
    }
}